.dropdown-item .dropdown_language{
  background-color: black;
}

#main_div{
    padding: 0px;
    margin: 0px;
    align-content: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    box-shadow: 0px 0px 10px #1b1b1bbb;
}

#main_div_img {
    top: 0px;
    margin: 0px;
    padding: 0;
    min-height: 100vh;
    min-width: 100vw;
    filter: blur(6px);
    overflow: hidden;
}

#data_frame{
    position: absolute;
    margin-left:5vw;
    /* left: 30px; */
    top: 25%;
    width: 75%;
    height: 60%;
    text-shadow: 0px 5px 10px #000000;
    color: #ffffff;
}

#see_portfolio{
  border-radius: 10px;
  text-decoration: none;
  color:white; 
  margin:10px;
  padding: 5px 10px 15px 10px;
}
#see_portfolio:hover{
  background-color: #ffffff15;
  transition: 550ms;
  transform: scale(1.2);
}

#portfolio{
    background-color: #ffffff;
    /* height: 100vh; */
}


#about{
    background-color: #ffae00f1;
    min-height: 100vh;
    font-size: 1.3rem;
}
.bg-primary {
    background-color: #ffd76b !important;
}

.portfolio .portfolio-item .portfolio-item-caption{
  background-color: #fcbb42a8 !important;
}
.btn-outline-secondary:hover{
  background-color: #FCBB42;
}
.btn-outline-secondary:focus, .btn-outline-secondary.focus {
  box-shadow: none !important;
}

.portfolio-item{
  overflow: hidden !important;
  max-width: 25rem !important;
  box-shadow: 0px 3px 8px #00000083;
  transition: cubic-bezier(.65,.05,.36,1) 250ms;
}
.portfolio-item:hover{
  transform: scale(1.08);
}

.thumbnail-img{
  height:auto;
  width: 100%;
}

.thumbnail-title{
  /* position: absolute !important; */
  font-size: 1.2rem;
  font-style: 'Roboto' !important;
}

.portfolio-modal-title{
  margin-top:2rem !important;
  margin-left: 15% !important;
  font-size: calc(1.5vw + 1.5vh + 1.0vmin) !important;
}
.modal-content{
  min-height: 90vh;
}

.modal-body{
  padding: calc(1vw + 1vh + 1vmin) !important;
}
.modal_responsive{
  margin: 3% !important;
  height: 100% !important;
}
.tab_width{
  margin-inline: auto;
  width: 33.33%;
  overflow: hidden;
  font-size: 100%;
  font-weight: 700;
}

.tab-content{
  border-width: 2px ;
  border-style: solid;
  border-image: 
    linear-gradient(
      to bottom, 
      #dee2e6, 
      rgba(255, 255, 255, 0)
    ) 1 100%;
  border-top: 2px solid #dee2e6;

  min-height: 60vh;
}

.carousel-inner{
  max-width: 100% !important;
  width: auto !important;
}
.carousel-item{
  justify-content: center;
  max-height: 100% !important;
}
.carousel-control-prev-icon, 
.carousel-control-next-icon{
  height: 60px;
  width: 60px;
  margin-left: 10%;
  margin-right: 10%;
  box-shadow: 1px 1px 2px black;
  background-size: 100%, 100%;
  border-radius: 10%;
  /* background-image: none; */
  background-color: #00000034;
  align-content: center;
}

.col-lg-8{
  flex: 0 0 100% !important;
  max-width: 85% !important;
}

.img-fluid{
  border-radius: 5px !important;
  margin:auto;
  max-height: 65vh !important;
  width: auto !important;
  max-width: 100% !important;
  padding: auto;
}

.item_description{
  text-align: left;
  margin: 5%;
  font-family: 'Arial';
  font-size: 1rem !important;
}

.btn-social, .btn-outline-secondary{
  width: 9rem !important;
  height: 9rem !important;
  padding: 2rem !important;
}

#mainNav .navbar-nav li.nav-item a.nav-link {
    color: #fff;
  }
  #mainNav .navbar-nav li.nav-item a.nav-link:hover {
    color: #FCBB42;
  }
  #mainNav .navbar-nav li.nav-item a.nav-link:active, #mainNav .navbar-nav li.nav-item a.nav-link:focus {
    color: #fff;
  }
  #mainNav .navbar-nav li.nav-item a.nav-link.active {
    color: #FCBB42;
  }
#mainNav .navbar-nav > li.nav-item > a.nav-link.active {
    color: #fff;
    background: #FCBB42;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link.active:active, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:focus, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover {
    color: #fff;
    background: #FCBB42;
  }